{"openapi":"3.0.0","info":{"title":"Consent & Preferences - Mobile App Consent","description":"Collection of APIs for the Mobile & OTT App Compliance SDKs.","contact":{"email":"support@onetrust.com"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"},"version":"1.0"},"tags":[{"name":"Mobile App Data"}],"paths":{"/applicationdata":{"get":{"tags":["Mobile App Data"],"summary":"Get SDK Configuration","description":"Use this API to retrieve a list of all templates, cookie consent models, and vendor lists data for the specified mobile or OTT application in JSON format.\n> 🚧 \n> \n> Before calling this API, ensure that the Mobile App data from your OneTrust tenant has been published. For more information, see [Publish Changes](doc:publish-changes).","operationId":"applicationdata","parameters":[{"name":"location","in":"header","description":"Required value for the blob location where the JSON data is stored.","required":true,"schema":{"type":"string","enum":["cdn.cookielaw.org","otcc-training.onetrust.com","otcc-demo.otprivacy.com","cookie-cdn.cookiepro.com","cdn-ukwest.onetrust.com","cdn-au.onetrust.com"]}},{"name":"application","in":"header","description":"Required value for the application Id that you've configured in OneTrust Admin portal.","required":true,"schema":{"type":"string"}},{"name":"lang","in":"header","description":"Required value for passing a ISO 639-1 language code.  Passing this value will return the back translated text for the Banner and Preference Center UI properties.The two letter ISO language code for the language you would like returned","required":true,"schema":{"type":"string"}},{"name":"sdkVersion","in":"header","description":"Required value for getting correct version of SDK data.  This field is normally managed by the SDK... but in Postman, you need to pass it based on the current version your OT tenant(6.2.0, 6.3.0, etc).","required":true,"schema":{"type":"string"}},{"in":"header","name":"Data-Subject-Identifier","description":"Optional value for passing a custom data subject identifier value when logging consent to Universal Consent Purposes in Mobile Preference Centers.","schema":{"type":"string"}},{"in":"header","name":"OT-Country-Code","description":"Optional value for passing a ISO 3166-2 country code.  Passing this value will return a geolocation rule that matches this country code... instead of the country code auto-determined by the server.","schema":{"type":"string"}},{"in":"header","name":"OT-Region-Code","description":"Optional value for passing a ISO 3166-2:US code.  Passing this value will return a geolocation rule that matches this region code... instead of the region code auto-determined by the server.  For this to work at the US state level, the OT-Country-Code param will also need to be passed as \"us\".","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests\nFor more information, see [API Rate Limits](https://developer.onetrust.com/onetrust/reference/rate-limits-overview).","headers":{"Retry-After":{"description":"The number of seconds after which requests will be allowed again.","schema":{"type":"integer","format":"int32"}},"ot-ratelimit-event-id":{"description":"The unique identifier for the rate-limiting event.","schema":{"type":"string","format":"uuid"}},"ot-requests-allowed":{"description":"The number of requests allowed within the specified period.","schema":{"type":"integer","format":"int32"}},"ot-period":{"description":"The unit of time for which the rate limit applies.","schema":{"type":"string","enum":["HOUR","MINUTE"]}},"ot-request-made":{"description":"The number of requests made within the specified period.","schema":{"type":"integer","format":"int32"}}}},"500":{"description":"The Domain or Application hasn't been published yet"}}}}},"security":[{"apikey":[]}],"x-readme":{"explorer-enabled":false,"metrics-enabled":false,"proxy-enabled":true},"x-onetrust":{"spec-label":"Swagger 2","links":{"Mobile App Consent Knowledge Base":"https://my.onetrust.com/s/topic/0TO1Q000000wxmMWAQ/mobile-app-compliance"}},"servers":[{"url":"https://customer.my.onetrust.com/bannersdk/v2"}],"components":{"schemas":{"DomainResponse":{"type":"object","properties":{"domain":{"$ref":"#/components/schemas/domain"},"culture":{"$ref":"#/components/schemas/culture"}}},"domain":{"properties":{"CookieSPAEnabled":{"type":"boolean","description":"Indicates if tenant has a CookieSPA feature toggle enabled.","example":false},"UseV2":{"type":"boolean","description":"Indicates if data is formatted to support new cookies flow.","example":true},"MobileSDK":{"type":"boolean","description":"Indicates if data was built as a Mobile Application or Website.","example":true},"SkipGeolocation":{"type":"boolean","description":"If false, only one geolocation rule exists so no need to call. geolocation API","example":false},"ScriptType":{"type":"string","description":"Indicates if the script is a Test Script or Production Script.","example":"Production"},"Version":{"type":"string","description":"Current OneTrust platform version. This does not indicate the version of this data.","example":"5.10.0"},"OptanonDataJSON":{"type":"string","description":"The Domain or Application ID. This should match the value passed into the header when making this call.","example":"b97c9cf3-6801-4463-8cf8-f557a00a4052"},"GeolocationUrl":{"type":"string","description":"API that can be used to determine the user's geographic location based on IP lookup.","example":"https://geolocation.1trust.app/cookieconsentpub/v1/geo/location"},"RuleSet":{"type":"array","items":{"$ref":"#/components/schemas/Rule"}},"IabData":{"$ref":"#/components/schemas/IabData"},"ConsentIntegration":{"$ref":"#/components/schemas/ConsentIntegration"}}},"culture":{"properties":{"DomainData":{"$ref":"#/components/schemas/DomainData"},"CommonData":{"$ref":"#/components/schemas/CommonData"}}},"DomainData":{"properties":{"cctId":{"type":"string","description":"The Domain or Application ID. This should match the value passed into the header when making this call.","example":"b97c9cf3-6801-4463-8cf8-f557a00a4052"},"MainText":{"type":"string","description":"The value entered for Preference Center Title.","example":"OneTrust Privacy and Preference Center"},"MainInfoText":{"type":"string","description":"The value entered for the Preference Center's Your Privacy Text","example":"We process user's data to deliver content or advertisements and measure the delivery of such content or advertisements, extract insights and generate reports to understand service usage; and/or accessing or storing information on devices for that purpose. Below you may read further about the purposes for which we process data, exercise your preferences for processing, and/or see our partners."},"AboutText":{"type":"string","description":"The value entered for Policy Link text.","example":"More Information"},"AboutCookiesText":{"type":"string","description":"The value entered for preference center privacy title.","example":"Your Privacy"},"ConfirmText":{"type":"string","description":"The value entered for the Preference Center accept All button.","example":"Accept All Settings"},"AllowAllText":{"type":"string","description":"The value entered for the Preference Center Allow All button.","example":"Save Settings"},"CookiesUsedText":{"type":"string","description":"The value entered for the Preference Center Cookies Used label.","example":"Cookies Used"},"AboutLink":{"type":"string","description":"The value entered for the Preference Center cookie policy url.","example":"https://cookiepedia.co.uk/giving-consent-to-cookies"},"HideToolbarCookieList":{"type":"boolean","description":"The value entered in the cookie list to whether hide the toolbar.","example":true},"ActiveText":{"type":"string","description":"The value entered for the Preference Center active text.","example":"Always Active"},"AlertNoticeText":{"type":"string","description":"The value entered for the banner description.","example":"We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners. You may read more about any of the purposes or vendors that we use by clicking 'Show Purposes'. This preference center is accessible at any time through the 'Manage Privacy Preferences' button located on every page.<a href=https://www.onetrust.com/privacy-notice/>Privacy Policy</a>"},"AlertCloseText":{"type":"string","description":"The value entered for the banner close button.","example":"Close"},"AlertMoreInfoText":{"type":"string","description":"The value entered for the banner more info button.","example":"Settings"},"CookieSettingButtonText":{"type":"string","description":"The value entered for the banner cookie settings button.","example":"Cookie Settings"},"AlertAllowCookiesText":{"type":"string","description":"The value entered for the banner allow all button.","example":"Accept"},"CloseShouldAcceptAllCookies":{"type":"boolean","description":"Accept all cookies on clincking close banner button.","example":false},"LastReconsentDate":{"type":"integer","description":"Last time publish with force consent on.","example":1573844708133},"BannerTitle":{"type":"string","description":"The value entered for the banner title.","example":"OneTrust"},"ForceConsent":{"type":"boolean","description":"Determine if user has to interact with banner.","example":true},"InactiveText":{"type":"string","description":"The value entered for the preference center inactive text.","example":"Inactive"},"CookiesText":{"type":"string","description":"The value entered for the cookie list cookies text.","example":"Cookies Used"},"CategoriesText":{"type":"string","description":"The value entered for the cookie list categories text.","example":"Cookie Subgroup"},"IsLifespanEnabled":{"type":"boolean","description":"","example":false},"LifespanText":{"type":"string","example":"Lifespan"},"VendorLevelOptOut":{"type":"boolean","example":false},"HasScriptArchive":{"type":"boolean","example":false},"BannerPosition":{"type":"string","example":"default"},"PreferenceCenterPosition":{"type":"string","example":"default"},"PreferenceCenterConfirmText":{"type":"string","example":"Confirm My Choices"},"VendorListText":{"type":"string","example":"List of Partners"},"ThirdPartyCookieListText":{"type":"string","description":"The value entered for the preference center third party cookies button.","example":"Cookies Details"},"PreferenceCenterManagePreferencesText":{"type":"string","description":"The value entered for the preference center title","example":"Manage Cookie Preferences"},"PreferenceCenterMoreInfoScreenReader":{"type":"string","description":"The value entered for the preference center screen reader text.","example":"This opens coookie policy in a new window"},"CookieListTitle":{"type":"string","description":"The value entered for the cookie list title.","example":"Cookie List"},"CookieListDescription":{"type":"string","description":"The value entered for the cookie list description.","example":"A cookie is a small piece of data (text file) that a website – when visited by a user – asks your browser to store on your device in order to remember information about you, such as your language preference or login information. Those cookies are set by us and called first-party cookies. We also use third-party cookies – which are cookies from a domain different than the domain of the website you are visiting – for our advertising and marketing efforts. More specifically, we use cookies and other tracking technologies for the following purposes"},"Groups":{"type":"array","items":{"type":"object"}},"Language":{"type":"object"},"ShowPreferenceCenterCloseButton":{"type":"boolean","example":false},"FooterDescriptionText":{"type":"string","example":"Footer Description"},"CustomJS":{"type":"string","example":"alert('banner clicked');"},"LifespanTypeText":{"type":"string","example":"Session"},"LifespanDurationText":{"type":"string","example":"days"},"CloseText":{"type":"string","example":"Close"},"BannerCloseButton":{"type":"string","example":"Close Banner"},"AddLinksToCookiepedia":{"type":"boolean","example":false},"showBannerCloseButton":{"type":"boolean","example":false},"AlertLayout":{"type":"string","example":"bottom"},"IsDntEnable":{"type":"boolean","example":false},"ShowAlertNotice":{"type":"boolean","example":true},"IsConsentLoggingEnabled":{"type":"boolean","example":true},"IsIabThirdPartyCookieEnabled":{"type":"boolean","example":false},"ScrollCloseBanner":{"type":"boolean","example":false},"OnClickCloseBanner":{"type":"boolean","example":false},"NextPageCloseBanner":{"type":"boolean","example":false},"AcceptAllCookies":{"type":"boolean","example":false},"ConsentModel":{"type":"string","example":"opt-in"},"Vendors":{"type":"array","items":{"type":"object"}},"ScrollAcceptAllCookies":{"type":"boolean","example":false},"OnClickAcceptAllCookies":{"type":"boolean","example":false},"NextPageAcceptAllCookies":{"type":"boolean","example":false},"IsConsentIntegration":{"type":"boolean","example":true},"IsIABEnabled":{"type":"boolean","example":true},"ShowAlert":{"type":"boolean","example":true},"ShowSubgroupToggles":{"type":"boolean","example":false},"CookieListEnabled":{"type":"boolean","example":false},"Flat":{"type":"boolean","example":false},"FloatingFlat":{"type":"boolean","example":false},"FloatingRoundedCorner":{"type":"boolean","example":false},"FloatingRoundedIcon":{"type":"boolean","example":false},"FloatingRounded":{"type":"boolean","example":false},"CenterRounded":{"type":"boolean","example":true},"Center":{"type":"boolean","example":true},"Panel":{"type":"boolean","example":false},"List":{"type":"boolean","example":false},"Tab":{"type":"boolean","example":false},"BannerIABPartnersLink":{"type":"string","example":"List of Partners (vendors)"},"BannerPurposeTitle":{"type":"string","example":"Purposes we use"},"BannerPurposeDescription":{"type":"string","example":"<ul><li>Personalisation</li> <li>Ad selection, delivery, reporting</li><li>Measurement</li><li>Content selection, delivery, reporting</li><li>Information storage and access</li></ul>"},"BannerFeatureTitle":{"type":"string","example":"Features we use"},"BannerFeatureDescription":{"type":"string","example":"<ul><li>Offline data matching: combining data from offline sources that were initially collected in other contexts with data collected online in support of one or more purposes.</li><li>Device linking: processing data to link multiple devices that belong to the same user in support of one or more purposes.</li><li>Precise geographic location data: collecting and supporting precise geographic location data in support of one or more purposes.</li></ul>"},"BannerInformationTitle":{"type":"string","example":"Information that may be used"},"BannerInformationDescription":{"type":"string","example":"<ul><li>Type of browser and its settings Information about the device''s operating system</li><li>Cookie information</li> <li>Information about other identifiers assigned to the device</li><li>The IP address from which the device accesses a client''s website or mobile application</li><li>Information about the user''s activity on that device, including web pages and mobile apps visited or used</li><li>Information about the geographic location of the device when it accesses a website or mobile application</li></ul>"},"BannerShowRejectAllButtonText":{"type":"boolean","example":false},"BannerRejectAllButtonText":{"type":"string","example":"Reject All"},"BannerSettingsButtonDisplayLink":{"type":"boolean","example":false},"PCFirstPartyCookieListText":{"type":"string","example":"First Party Cookies"}}},"CommonData":{"properties":{"IabThirdPartyCookieUrl":{"type":"string","example":"cookies-dev.onetrust.mgr.consensu.org"},"OptanonHideAcceptButton":{"type":"string","example":"hide-accept-button"},"OptanonStyle":{"type":"string","example":"modern"},"OptanonStaticContentLocation":{"type":"string","example":""},"BannerCustomCSS":{"type":"string","example":"#onetrust-pc-sdk .pc-logo {\\n height: 40px;\\n width: 120px;\\n margin-bottom: 20px;\\n  background-color: #FFFFFF !important;\\n  background-repeat: no-repeat !important;\\n}"},"PCCustomCSS":{"type":"string","example":"#onetrust-pc-sdk .pc-logo {\\n height: 40px;\\n width: 120px;\\n margin-bottom: 20px;\\n  background-color: #FFFFFF !important;\\n  background-repeat: no-repeat !important;\\n}"},"PcTextColor":{"type":"string","example":"#F1F1F1"},"PcButtonColor":{"type":"string","example":"#148FC7"},"PcButtonTextColor":{"type":"string","example":"#FeFF23"},"PcBacgroundTextColor":{"type":"string","example":"#000000"},"PcMenuColor":{"type":"string","example":"#AC7422"},"PcMenuHighLightColor":{"type":"string","example":"#F56310"},"TextColor":{"type":"string","example":"#23FF53"},"ButtonColor":{"type":"string","example":"#19c3a2"},"ButtonTextColor":{"type":"string","example":"#20D4B3"},"BackgroundColor":{"type":"string","example":"#b5cedf"},"OptanonLogo":{"type":"string","example":"NEED EXAMPLE"},"OptanonCookieDomain":{"type":"string","description":"This is the name of the Domain or Application","example":"OneTrust CCPA App"},"OptanonGroupIdPerformanceCookies":{"type":"string","example":"C0002"},"OptanonGroupIdFunctionalityCookies":{"type":"string","example":"C0003"},"OptanonGroupIdTargetingCookies":{"type":"string","example":"C0004"},"OptanonGroupIdSocialCookies":{"type":"string","example":"C0005"},"ShowSubGroupCookies":{"type":"boolean","example":false},"ShowSubGroupDescription":{"type":"boolean","example":true},"LegacyBannerLayout":{"type":"string","example":"default_flat_bottom_two_button_black"},"OptanonHideCookieSettingsButton":{"type":"string","example":"NEED EXAMPLE"},"UseRTL":{"type":"boolean","example":false},"ShowBannerAcceptButton":{"type":"boolean","example":true},"ShowBannerCookieSettings":{"type":"boolean","example":true},"ShowCookieList":{"type":"boolean","example":false},"PCShowCookieHost":{"type":"boolean","example":true},"PCShowCookieDuration":{"type":"boolean","example":true},"PCShowCookieType":{"type":"boolean","example":true},"PCShowCookieCategory":{"type":"boolean","example":true},"PCShowCookieDescription":{"type":"boolean","example":true},"AllowHostOptOut":{"type":"boolean","example":false},"CookieListTitleColor":{"type":"string","example":"#8A898A"},"CookieListGroupNameColor":{"type":"string","example":"#D6D6D6"},"CookieListTableHeaderColor":{"type":"string","example":"#688DC0"},"CookieListPrimaryColor":{"type":"string","example":"#76C350"},"CookieListCustomoCss":{"type":"string","example":"#onetrust-pc-sdk .pc-logo {\\n height: 40px;\\n width: 120px;\\n margin-bottom: 20px;\\n  background-color: #FFFFFF !important;\\n  background-repeat: no-repeat !important;\\n}"}}},"ConsentIntegration":{"type":"object","properties":{"ConsentApi":{"type":"string"},"RequestInformation":{"type":"string"}},"title":"ConsentIntegration"},"IabData":{"type":"object","properties":{"cookieVersion":{"type":"string"},"createdTime":{"type":"string"},"updatedTime":{"type":"string"},"cmpId":{"type":"string"},"cmpVersion":{"type":"string"},"consentScreen":{"type":"string"},"consentLanguage":{"type":"string"},"vendorListVersion":{"type":"integer"},"maxVendorId":{"type":"integer"},"encodingType":{"type":"string"},"iabVendorJson":{"type":"string"},"globalVendorListUrl":{"type":"string"}},"title":"IabData"},"Rule":{"type":"object","properties":{"Id":{"type":"string","format":"UUID"},"Name":{"type":"string"},"Countries":{"type":"array","items":{"type":"string"}},"States":{"type":"object"},"LanguageSwitcherPlaceholder":{"type":"object"},"BannerPushesDown":{"type":"boolean"},"Default":{"type":"boolean"},"Global":{"type":"boolean"}},"title":"Rule"}}}}